extends template/layout
block var
    -
        var page = 'craniosacral-massage',
        headerPageArray = [
        breadCrumbs = 'Home / What We Do / Craniosacral Massage',
        headline = 'Craniosacral Massage in Northglenn, CO',
        textInHeaderPage = 'Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy may help provide the relief you\'re looking for.',
        textBtn = 'Request a Free Consultation'
        ];
block content
    +header-page(page, headerPageArray)
    .cm__textBlock
        .cm__textBlock--wrapper
            p.cm__textBlock--text Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy may help provide the relief you're looking for. At Intrepid Bodyworks, we treat clients with a wide range of health-related issues and needs. If you're looking for a warm, attentive massage professional, we welcome you to visit our conveniently located facility.
            h2.cm__textBlock--headline Your Health Comes First
            p.cm__textBlock--text At Intrepid Bodyworks in Thornton, CO, we put our clients' health first. When you come to us, we’ll take the time to understand your physical symptoms and will work with you to devise a customized treatment plan. From appointment scheduling to payments and billing, we strive to make your experience pleasant and hassle-free.
            p.cm__textBlock--text Is Craniosacral therapy the right choice for you? It pays to learn more. Call Intrepid Bodyworks today to schedule an appointment.
            p.cm__textBlock--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    .sld__wrap
        +Slider()
    .cm__textBlock
        .cm__textBlock--wrapper
            h2.cm__textBlock--headline2 Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit
            p.cm__textBlock--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
            p.cm__textBlock--text Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
            p.cm__textBlock--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            p.cm__textBlock--textLast Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    +whatWeDo()
    +testimonials()
    +contactUsTodey()