extends template/layout
block var
    -
        var page = 'index',
        headerPageArray = [
        breadCrumbs = '-',
        headline = 'Corrective Massage Therapy Focusing' + 'on Chronic Pain Relief',
        textInHeaderPage = 'Our expertise falls in line with therapeutic massage therapy, medical massage, sports massage therapy, chair massage for the sake of relaxation and a pain free life.',
        textBtn = 'I want to relieve my pain'
        ];
block content
    +header-page(page, headerPageArray)
    .indexTextBlock__one
        .indexTextBlock__one--headlines
            h2.indexTextBlock__one--headline We Accept Insurance
            h2.indexTextBlock__one--headline Massage Therapy After Car Accident
            h2.indexTextBlock__one--headline 24 Years of Work Experience
        .indexTextBlock__one--textblock
            span.indexTextBlock__one--text The streak started in late October. Canelas 2010, an unheralded amateur soccer team, suddenly could not stop winning. It went 10 straight matches without dropping a point, without so much as conceding a goal, a surge that brought the prospect of promotion out of its local league and into the comparative big time of the national third division. It was the sort of run that would, in normal circumstances, bring the professional scouts flocking, marveling at this small-time miracle. Nobody came to see Canelas, though. Nobody could. There was nothing to watch. Though each of those results was officially recorded as a 3-0 Canelas win, none of the matches actually happened. After a scoreless game with Padroense on Oct. 23, Canelas did not play again in 2016. Its players were told they were too violent on the field, too intimidating to referees.
    +whatWeDo()
    .violetBlock__wrapper
        .wrapper--background
        .center__wrapper
            +violetBlock(page)
    .about
        .about__container
            h1.about--headline About Intrepid Bodyworks
            span.about--text We offer local massage deals at Intrepid Bodyworks for Westminster, Thornton and Northglenn. We can address rehabilitation issues, structural problems, injuries, auto accidents and more. At Intrepid Bodyworks, we are constantly looking for ways to improve our customer experience.
            .about__btn
                span.about__btn--text Learn More
    +testimonials()
    +contactUsTodey()