extends template/layout
block var
    -
        var page = 'who-we-are',
        headerPageArray = [
        breadCrumbs = 'Home / Who We Are',
        headline = 'Welcome to Intrepid Bodyworks: Therapeutic Massage',
        textInHeaderPage = 'Intrepid Karma offers local massage deals in Northglenn and the surrounding cities such as Westminster and Thornton.'
        ];
block content
    +header-page(page, headerPageArray)
    +contactUsTodey()