doctype
include variable
include mixins
include content_mixins
include layout_mixins

html(lang="ru")
	head
		title Interpid Bodyworks

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")

		link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet")
		link(rel="styleSheet", media="all", type="text/css", href="css/style.min.css")

	body
		block var

		+header(page)
		+header--device(page)
		+menu-header--device(menu)
		block content
			+header-page(page, headerPageArray)
			+whatWeDo()
			+testimonials()
			+contactUsTodey()


		+footer()
		script(src='./js/used_scripts.js')
