-
	var
	phone = '303 444 5131',
	logo = 'Boulder Prolotherapy',
	menu = [
		{
			url: "who-we-are",
			title: "Who We Are"
		},
		{
			url: "what-we-do",
			title: "What We Do"
		},
		{
			url: "price",
			title: "Price"
		},
		{
			url: "gift-certificates",
			title: "Gift Certificates"
		},
		{
			url: "faq",
			title: "FAQ"
		},
		{
			url: "contact",
			title: "Contact"
		},
		{
			url: "careers",
			title: "Careers"
		},
		{
			url: "#",
			title: "303-457-2040"
		}
	],
	specialPricing = [
		{
			service: 'Therapeutic Massage',
			price: '30$',
			time: '30 minutes Session Packages'
		},
		{
			service: 'Deep Heat Therapy',
			price: '10$',
			time: 'Аdd on to any massage'
		},
		{
			service: 'Therapeutic Massage',
			price: '60$',
			time: '60 minutes Session Packages'
		},
		{
			service: 'Ion Foot Detox Treatments',
			price: '35$',
			time: '30 minutes Session Packages'
		},
		{
			service: 'Therapeutic Massage',
			price: '90$',
			time: '90 minutes Session Packages'
		},
		{
			service: 'Ion Foot Detox Treatments',
			price: '60$',
			time: '30 minute couples'
		},
		{
			service: 'Therapeutic Massage',
			price: '120$',
			time: '120 minutes Session Packages'
		},
		{
			service: 'Ion Foot Detox Treatments',
			price: '150$',
			time: '5 Pack 30 minute'
		},
		{
			service: 'Hot Stone Massage',
			price: '110$',
			time: '90min full body (must be booked 24 hours in advance)'
		},
		{
			service: 'Ion Foot Detox Treatments',
			price: '300$',
			time: '10 Pack 30 minute'
		},
		{
			service: 'Hot Stone Add on',
			price: '20$',
			time: '30min full body (must be booked 24 hours in advance)'
		},
		{
			service: 'Cancellation fee',
			price: '35$',
			time: ''
		}
	],
	packageDeals = [
		{
			service: 'Buy 5 Hours of Massage',
			price: '275$',
			economy: 'Save $25'
		},
		{
			service: '10, 30m Ion Foot Treatments',
			price: '300$',
			economy: 'Save $50'
		},
		{
			service: 'Buy 10 Hours of Massage',
			price: '550$',
			economy: 'Save $50'
		}
	]