-
	var
	phone = '303 444 5131',
	logo = 'Boulder Prolotherapy',
	menu = [
		{
			url: "who-we-are",
			title: "Who We Are"
		},
		{
			url: "what-we-do",
			title: "What We Do"
		},
		{
			url: "price",
			title: "Price"
		},
		{
			url: "gift-certificates",
			title: "Gift Certificates"
		},
		{
			url: "faq",
			title: "FAQ"
		},
		{
			url: "contact",
			title: "Contact"
		},
		{
			url: "careers",
			title: "Careers"
		},
		{
			url: "#",
			title: "303-457-2040"
		}
	]