@import 'breakpoint';
@import 'mixins';
body{
    overflow:hidden;
}
.header{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    width: 100%;
    height: 120px;
    z-index: 1;
    background: #4F1790;
    justify-content: center;
    align-items: center;
    .logo{
        min-width: 120px;
        height: 44px;
        margin-right: 70px;
        background-image: url(../images/header/logo.svg);
    }
    &__menu{
        display:flex;
    }
    &__menu-item{
      white-space: nowrap;
      display:block;
      margin-right: 20px;
      @extend %text_header_menu-item;
      &:last-child{
        font-weight: 600;
        margin-right: 50px;
        color: #F6674D;
      }
    }
    .button{
        min-width: 91px;
        width:140px;
        height:40px;
        background: #F6674D;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &__text{
          user-select: none;
          margin-top:-3px;
          @extend %textButtonInHeader
        }
    }
}
//скрытие мобильной версии
.header--device{
  display: none;
}
.header__menu--device{
  display: none;
}
//футер
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:300px;
  &__topBlock {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #2E3440;
    .topBlock__content{
      max-width: 1180px;
      min-width: 980px;
      width: 1180px;
      margin-left: 10px;
      margin-right: 10px;
      &--navigation{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .footer__menu{
          display: flex;
          justify-content: space-between;
          min-width:836px;
          &--item{
            @extend %footerMenuFont;
            display:block;
          }
        }
        &-socialIcons{
          display: flex;
          justify-content: space-between;
          min-width:110px;
          .circle__socialMedia{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            background:white;
          }
        }
      }
      &--contacts{
        display: flex;
        //justify-content: space-between;
        //width: 621px;
        .topBlock__text{
          white-space: nowrap;
          @extend %footerContactsFont;
          &:first-child{
            margin-bottom: 20px;
          }
        }
        .contacts__leftSide{
          display: flex;
          flex-direction: column;
          margin-right: 40px;
        }
        .contacts__rightSide{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  &__bottomBlock {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100px;
    background: #292D35;
    .bottomBlock__content{
      max-width: 1180px;
      min-width: 980px;
      width: 1180px;
      display:flex;
      justify-content: space-between;
      margin-left: 10px;
      margin-right: 10px;
      .bottomBlock__text{
       @extend %footerBottomBlockFont;
        &:nth-child(1){
          margin-right: 10px;
        }
      }
      &--leftSide{
        display:flex;
        justify-content: space-between;
        min-width: 469px;
        .star{
          margin-bottom: -2px;
        }
      }
      &--rightSide{
        min-width: 282px;
      }
    }
  }
}