@import 'breakpoint';
@import 'mixins';
@import "vars";
body{
  overflow-x: hidden;
}
.header{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    width: 100%;
    height: 120px;
    z-index: 5;
    justify-content: center;
    align-items: center;
    .logo{
        min-width: 120px;
        height: 44px;
        margin-right: 70px;
        background-image: url(../images/header/logo.svg);
    }
    &__menu{
        display:flex;
    }
    &__menu-item{
      white-space: nowrap;
      display:block;
      margin-right: 20px;
      @extend %text_header_menu-item;
      &:last-child{
        font-weight: 600;
        margin-right: 50px;
        color: #F6674D;
      }
      &--active{
        display: block;
        @extend %text_header_menu-item--active;
      }
    }
    .button{
        min-width: 91px;
        width:140px;
        height:40px;
        background: #F6674D;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &__text{
          user-select: none;
          margin-top:-3px;
          @extend %textButtonInHeader
        }
    }
}
//скрытие мобильной версии
.header--device{
  display: none;
}
.header__menu--device{
  display: none;
}

//футер
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height:300px;
  &__topBlock {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #2E3440;
    .topBlock__content{
      max-width: 1180px;
      min-width: 980px;
      width: 1180px;
      margin-left: 10px;
      margin-right: 10px;
      &--navigation{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .footer__menu{
          display: flex;
          justify-content: space-between;
          min-width:836px;
          &--item{
            @extend %footerMenuFont;
            display:block;
          }
        }
        &-socialIcons{
          display: flex;
          justify-content: space-between;
          min-width:110px;
          .circle__socialMedia{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            background:white;
          }
        }
      }
      &--contacts{
        display: flex;
        .topBlock__text{
          @extend %footerContactsFont;
          &:first-child{
            margin-bottom: 20px;
          }
        }
        .contacts__leftSide{
          display: flex;
          flex-direction: column;
          margin-right: 40px;
        }
        .contacts__rightSide{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  &__bottomBlock {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100px;
    background: #292D35;
    .bottomBlock__content{
      max-width: 1180px;
      min-width: 980px;
      width: 1180px;
      display:flex;
      justify-content: space-between;
      margin-left: 10px;
      margin-right: 10px;
      .bottomBlock__text{
       @extend %footerBottomBlockFont;
        &:nth-child(1){
          margin-right: 10px;
        }
      }
      &--leftSide{
        display:flex;
        justify-content: space-between;
        min-width: 469px;
        .star{
          margin-bottom: -2px;
        }
      }
      &--rightSide{
        min-width: 282px;
      }
    }
  }
}
//верхний заголовок
.topSection{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &--index{
    width: 100%;
    height: 800px;
    background-color: #4F1790;
    background-image: url("../images/page-header/Vector.svg");
    background-size: cover;
  }
  &--who-we-are{
    width: 100%;
    height: 560px;
    background-image: url('../images/page-header/Rectangle10.png');
    background-size: 100% 100%;
  }
  &--what-we-do{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }
  &--price{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }
  &--gift-certificates{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }
  &--faq{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }
  &--careers{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }
  &--craniosacral-massage{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }
  &--testimonials{
    width: 100%;
    height: 560px;
    background-image:'../images/page-header/02_who_we_are.svg';
  }

  .contentContainer{
    max-height: 340px;
    max-width: 780px;
    position: absolute;
    top:150px;
    .breadCrumbs{
      @extend %textBreadCrumbs;
      margin-bottom: 20px;
      &--index{
        width: 40px;
        height: 4px;
        background-color: white;
        margin-bottom: 32px;
      }
    }
    .headline{
      @extend %textHeadline;
      margin-bottom: 20px;
      &--index{
        @extend %textHeadline;
        margin-bottom: 32px;
      }
    }
    .textInHeaderPage{
      @extend %textInHeaderPage;
    }
    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 40px;
      background: #F6674D;
      border-radius: 20px;
      margin-top: 32px;
      cursor: pointer;
    }
    .textBtn{
      @extend %textButton;
      user-select: none;
    }
    .arrow{
      width: 20px;
      height: 36px;
      background-image: url("../images/page-header/arrow.svg");
      background-size: 100% 100%;
      margin-top: 105px;
      cursor: pointer;
    }
  }
  .contentContainer--index{
    max-height: 482px;
    max-width: 980px;
    position: absolute;
    top:238px;
  }
}
// Contact Us Todey
.container__contact{
  position:relative;
  width: 100%;
  height: 453px;
  background-image: url("../images/content/pattern2.svg");
  display: flex;
  align-items: center;
  .bigArrow{
    min-width: 310px;
    width: 410px;
    height: 200px;
    background-image: url("../images/content/bigarrow.png");
    background-size: 100% 100%;
    margin-right: 100px;
  }
  .contact__content{
    width: 580px;
    height: 283px;
    .contact__headline{
      @extend %contactHeadline;
      margin-bottom: 20px;
    }
    .contact__text{
      @extend %textContact;
    }
    .contact__phone{
      margin-top:10px;
      @extend %contactPhone;
      margin-bottom: 30px;
    }
    .contact__btn{
      width: 280px;
      height: 40px;
      background: #F6674D;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .contact__btn-text{
        user-select: none;
        @extend %contactBtnText;
      }
    }
  }
}

//блок с отзывами

.testimonials__container{
  width: 100%;
  height: 557px;
  background-image: url("../images/content/Testimonials.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .testimonials__headline{
    font-family: IBM Plex Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: normal;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-left: 7.8%;
  }
  .testimonials__feedback{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-bottom: 28px;
    position:relative;
    left:50%;
    transform: translateX(-41%);
    .feedback{
      width:340px;
      height: 224px;
      max-height: 253px;
      margin-right: 60px;
      &:last-child{
        margin-right:0px;
      }
      .nameFeedback{
        font-family: IBM Plex Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
      }
      .rFeedback{
        margin: 15px 0;
        display: flex;
        .starFeedback{
          width: 20px;
          height: 20px;
        }
      }
      .textFeedback{
        font-family: IBM Plex Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;

        color: #FFFFFF;
      }
    }
  }
  .allTestimonials{
    display: flex;
    .allTestimonials--text{
      font-family: IBM Plex Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: normal;
      color: #FFFFFF;
      margin-left:7.8%;
      margin-right: 17px;
    }
    .smallArrow{
      width: 36px;
      height: 20px;
      background-image: url("../images/content/smallArrow.svg");
      background-size: 100% 100%;
    }
  }
}

.textBlock__content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .textBlock{
    &--headline{
      font-family: IBM Plex Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: normal;
      color: #240A25;
    }
    &--text{
      font-family: IBM Plex Sans,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 29px;

      color: #240A25;
    }
    &--one{
      width: 100%;
      display: flex;
      justify-content: center;
      .textBlockWrap--one{
        min-height: 564px;
        width: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &--two{
      display: flex;
      justify-content: center;
      width: 100%;
      background-image: url("../images/content/background.svg");
      .textBlockWrap--two{
        min-height: 564px;
        width: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &--three{
      display: flex;
      justify-content: center;
      width: 100%;
      .textBlockWrap--three{
        min-height: 564px;
        width: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}