@media(max-width:1114px) {
  .header--device {
    position: relative;
    display:flex;
    width: 100%;
    height: 50px;
    z-index: 0;
    background: #37076F;
    justify-content: space-around;
    align-items: center;
    .logo--device {
      width: 193px;
      height: 18px;
      margin-right: 0;
      background-image: url('../images/header/logo__mobile.svg');
    }
    .button--device{
      min-width: 24px;
      width:24px;
      height: 18px;
      background:none;
      position:relative;
      cursor: pointer;
      .button__burger{
        position:absolute;
        width: 24px;
        height: 2px;
        background: white;
        top:8px;
        &:before{
          content:'';
          position: absolute;
          width: 24px;
          height: 2px;
          background: white;
          top:6px;
        }
        &:after{
          content:'';
          position: absolute;
          width: 24px;
          height: 2px;
          background: white;
          bottom:6px;
        }
        &,
        &:before,
        &:after{
          transform-origin: center;
          transition: all .5s ease;
        }
      }
    }
    .button--device-active{
      .button__burger--active{
        width: 0;
        height: 0;
        &:before{
          transform: rotate(45deg) translate(-5px, -4px);
        }
        &:after{
          transform: rotate(-45deg) translate(-6px, 4px);
        }
      }
    }
  }
  //мобильное меню
  .header__menu--device{
    width: 210px;
    height: 466px;
    margin-top: 1px;
    display:block;
    position:absolute;
    z-index:10;
    background: #37076F;
    right:-300px;
    transition:all .5s ease-in;
    .header__menu--containerElements{
      margin-left:20px;
      margin-top:30px;
    }
    &-item{
      display:block;
      font-family: IBM Plex Sans, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;

      color: #FFFFFF;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .header__menu--device-active{
    z-index:10;
    position:absolute;
    right:0;
  }
//скрытие десктопной версии
  .header{
    display:none;
  }
}
@media(max-width: 999px) {
  .footer{
    &__topBlock{
      .topBlock__content{
        min-width: 290px;
        width: 100%;
        &--navigation{
          display: flex;
          .footer__menu{
            display: flex;
            flex-wrap: wrap;
            min-width:290px;
            &--item{
              white-space: nowrap;
              width:25%;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    &__bottomBlock{
      width: 100%;
      .bottomBlock__content{
        min-width: 290px;
        &--leftSide{
          display:flex;
          justify-content: space-between;
          min-width: 290px;
          .rating{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media (max-width:750px){
  .footer{
    height: 528px;
    &__topBlock{
      height: 378px;
      box-sizing:border-box;
      .topBlock__content{
        min-width: 290px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        box-sizing:border-box;
        &--navigation{
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 25px;
          .topBlock__content--navigation-socialIcons{
            margin-top:-5px;
          }
          .footer__menu{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            min-width:290px;
            margin-bottom: 20px;
            &--item{
              white-space: nowrap;
              width: calc(290px / 12 * 6);
              margin-bottom: 5px;
            }
          }
        }
        &--contacts{
          display: flex;
          flex-wrap: wrap;
          .topBlock__text:first-child{
            margin-bottom: 5px;
          }
          .contacts__leftSide{
            display: flex;
            width: calc(100% / 12 * 6);
            margin-bottom: 20px;
          }
          .contacts__rightSide{
            display: flex;
            width: calc(100% / 12 * 6);
          }
        }
      }
    }
    &__bottomBlock{
      height: 150px;
      width: 100%;
      .bottomBlock__content{
        min-width: 290px;
        display: flex;
        flex-wrap: wrap;
        &--leftSide{
          .bottomBlock__text{
          }
          display:flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          min-width: 290px;
          .rating{
            margin-bottom:20px;
            margin-left: 0;
          }
        }
        &--rightSide{
        }
      }
    }
  }
}
