@import "vars";

%text_overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%clearfix {
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin animate($name, $duration: 1s, $delay: 0s) {
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: forwards;
}

@mixin bg($img, $size: cover, $pos: center, $repeat: no-repeat) {
  background-size: $size;
  background-position: $pos;
  background-repeat: $repeat;
  background-image: url('../images/#{$img}');
}

// mixins for create grid
@mixin row_grid($padding_size, $mode: 'flex') {
  @if ($mode == 'flex') {
    display: flex;
    flex-wrap: wrap;
  }
  @else {
    &:before, &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }
  @if ($padding_size) {
    margin-left: -$padding_size;
    margin-right: -$padding_size;
  }
  @media (max-width: $extra_mobile_width) {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin width_extra_mobile($count_column) {
  @media (max-width: $extra_mobile_width) {
    width: $width_column12 * $count_column;
  }
}
@mixin width_mobile($count_column) {
  @media (max-width: $mobile_width) {
    width: $width_column12 * $count_column;
  }
}
@mixin width_tablet($count_column) {
  @media screen and (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {
    width: $width_column12 * $count_column;
  }
}
@mixin width_device($count_column) {
  @media (max-width: $tablet_max_width) {
    width: $width_column12 * $count_column;
  }
}
@mixin width_desktop($count_column) {
  @if ($count_column > 2) {
    @media (min-width: $desktop_width) {
      width: $width_column12 * $count_column;
    }
  }
  // WIDTH: 20% - ПО 5 в ряд
  @if ($count_column == 2) {
    @media (min-width: $desktop_width) {
      width: $width_column10 * $count_column;
    }
  }
  // ПО 6 в ряд
  @if ($count_column == 1) {
    @media (min-width: $desktop_width) {
      width: $width_column12 * 2;
    }
  }
}

@mixin right_mobile($count_column) {
  @media (max-width: $mobile_width) {
    margin-right: $width_column12 * $count_column;
  }
}
@mixin right_tablet($count_column) {
  @media (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {
    margin-right: $width_column12 * $count_column;
  }
}
@mixin right_device($count_column) {
  @media (max-width: $tablet_max_width) {
    margin-right: $width_column12 * $count_column;
  }
}
@mixin right_desktop($count_column) {
  @media (min-width: $desktop_width) {
    margin-right: $width_column12 * $count_column;
  }
}

@mixin left_mobile($count_column) {
  @media (max-width: $mobile_width) {
    margin-left: $width_column12 * $count_column;
  }
}
@mixin left_tablet($count_column) {
  @media (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {
    margin-left: $width_column12 * $count_column;
  }
}
@mixin left_device($count_column) {
  @media (max-width: $tablet_max_width) {
    margin-left: $width_column12 * $count_column;
  }
}
@mixin left_desktop($count_column) {
  @media (min-width: $desktop_width) {
    margin-left: $width_column12 * $count_column;
  }
}


@mixin column($padding_size, $count_desktop: 12, $count_tablet: 12, $count_mobile: 12, $count_extra_mobile: 12, $mode: 'flex') {
  display: block;
  @if ($mode == 'float') {
    float: left;
  }
  width: 100%;
  padding-left: $padding_size;
  padding-right: $padding_size;
  @include width_extra_mobile($count_extra_mobile);
  @include width_mobile($count_mobile);
  @include width_tablet($count_tablet);
  @include width_desktop($count_desktop);
  @media (max-width: $extra_mobile_width) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin hide_mobile {
  @media (max-width: $mobile_width) {
    display: none !important;
  }
}
@mixin hide_tablet {
  @media (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {
    display: none !important;
  }
}
@mixin hide_device {
  @media (max-width: $tablet_max_width) {
    display: none !important;
  }
}
@mixin hide_desktop {
  @media (min-width: $desktop_width) {
    display: none !important;
  }
}

%posImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin wrapImage($h) {
  position: relative;
  width: 100%;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: $h;
  }
  img {
    @extend %posImage;
  }
}

@mixin center($w, $h) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $w;
  height: $h;
  margin-top: -($h / 2);
  margin-left: -($w / 2);
}

@mixin icon($pos-x, $pos-y) {
  background-image: url("../images/sprait-icon.svg");
  background-size: 645px 298px;
  background-position-x: $pos-x;
  background-position-y: $pos-y;
  background-repeat: no-repeat;
}
%accQuestion{
  font-family: Playfair Display, serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #FFFFFF;
}
%accAnswer{
  font-family: Signika, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.8);

}

//шрифт меню футера
%footerMenuFont{
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
}

//шрифт контактов в футере
%footerContactsFont{
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}

//шрифт нижнего блока футера
%footerBottomBlockFont{
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
}